.new-signup {
  padding-top: 5% !important;
  padding-left: 5% !important;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #495f39;
  --mdc-switch-selected-handle-color: #495f39;
  --mdc-switch-selected-hover-state-layer-color: #495f39;
  --mdc-switch-selected-pressed-state-layer-color: #495f39;
  --mdc-switch-selected-focus-handle-color: #495f39;
  --mdc-switch-selected-hover-handle-color: #495f39;
  --mdc-switch-selected-pressed-handle-color: #495f39;
  --mdc-switch-selected-focus-track-color: #eaeaea;
  --mdc-switch-selected-hover-track-color: #eaeaea;
  --mdc-switch-selected-pressed-track-color: #eaeaea;
  --mdc-switch-selected-track-color: #eaeaea;
}

