<div class="container py-2">
    <div class="d-flex flex-md-row flex-column align-items-center">
        <i class="fa fa-home secondary-color fa-4x mt-4">
        </i>
        <span class="main-heading secondary-color f-medium mt-4">
            NEW PURCHASE ASSISTANT <br>
            <span class="main-heading L3BlXeVIU  mt-4">{{this.mainHeading}}</span>
            <span class="main-heading small-size"> {{this.subHeading}}</span>
        </span>
    </div>
    <div class="row align-items-center my-3">
        <div class="col-md-11 mb-2 mb-md-0">
            <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
            </button> -->
            <mat-stepper (selectionChange)="onStepChange($event)" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="propertyForm">
                    <form [formGroup]="propertyForm">
                        <ng-template matStepLabel>Property</ng-template>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Street Address</mat-label>
                                    <input matInput formControlName="street_address" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput formControlName="zip_code" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Est. Closing Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="est_closing_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Purchase Price</mat-label>
                                    <input matInput formControlName="purchase_price">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="no-line">
                                    <span class="text-invisible">Cash
                                        Purchase? </span><mat-slide-toggle
                                        formControlName="is_cash_purchase"></mat-slide-toggle>
                                    <textarea matInput hidden></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>LLC Name (if applicable)</mat-label>
                                    <input matInput formControlName="llc_name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Intended Use</mat-label>
                                    <mat-select formControlName="intended_id" disableRipple>
                                        <mat-option *ngFor="let element of intended" [value]="element.id">
                                            {{element.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Continue or Skip</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="lenderForm">
                    <form [formGroup]="lenderForm">
                        <ng-template matStepLabel>Lender</ng-template>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Lending Institution</mat-label>
                                    <input matInput formControlName="institution_name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput formControlName="zip_code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Lending Institution Phone</mat-label>
                                    <input matInput formControlName="phone_number" mask="(000) 000-0000" />
                                    <mat-error *ngIf="lenderForm.controls['phone_number'].hasError('pattern')">
                                        Lending Institution Phone Number is invalid.
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Lending Institution EMail</mat-label>
                                    <input matInput type="email" formControlName="email_address" />
                                    <mat-error *ngIf="lenderForm.controls['email_address'].hasError('pattern')">
                                        Email Address is invalid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Lending Officers's Name</mat-label>
                                    <input matInput formControlName="officer_name" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Amount Financed</mat-label>
                                    <input matInput formControlName="amount_financed">
                                </mat-form-field>
                            </div>
                            <div class="col-md-7 my-1">
                                <app-documents-needs [documentsNeeds]="lenderDocumentsNeeds"></app-documents-needs>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Continue or Skip</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="inspectionsForm">
                    <form [formGroup]="inspectionsForm">
                        <ng-template matStepLabel>Inspections</ng-template>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Inspection Company</mat-label>
                                    <input matInput formControlName="inspection_name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput formControlName="zip_code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Inspector's Phone</mat-label>
                                    <input matInput formControlName="phone_number" mask="(000) 000-0000" />
                                    <mat-error *ngIf="inspectionsForm.controls['phone_number'].hasError('pattern')">
                                        Inspector's Phone Number is invalid.
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Inspector's EMail</mat-label>
                                    <input matInput type="email" formControlName="email_address" />
                                    <mat-error *ngIf="inspectionsForm.controls['email_address'].hasError('pattern')">
                                        Email Address is invalid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Inspector's Name</mat-label>
                                    <input matInput formControlName="inspector_name" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7 my-1">
                                <app-documents-needs [documentsNeeds]="inspectionsDocumentsNeeds"></app-documents-needs>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Continue or Skip</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="insuranceForm">
                    <form [formGroup]="insuranceForm">
                        <ng-template matStepLabel>Insurance</ng-template>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Insurance Agency</mat-label>
                                    <input matInput formControlName="agency_name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput formControlName="zip_code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Agent's Phone</mat-label>
                                    <input matInput formControlName="phone_number" mask="(000) 000-0000" />
                                    <mat-error *ngIf="insuranceForm.controls['phone_number'].hasError('pattern')">
                                        Lending Institution Phone Number is invalid.
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Agent's EMail</mat-label>
                                    <input matInput type="email" formControlName="email_address" />
                                    <mat-error *ngIf="insuranceForm.controls['email_address'].hasError('pattern')">
                                        Email Address is invalid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Agent's Name</mat-label>
                                    <input matInput formControlName="agent_name" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Intended Use</mat-label>
                                    <mat-select formControlName="intended_id" disableRipple>
                                        <mat-option *ngFor="let element of intended" [value]="element.id">
                                            {{element.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            <div class="col-md-5">

                              <mat-label class="main-heading secondary-color f-medium">Quotes Obtained:</mat-label><br>
                              <mat-checkbox formControlName="gl" class="example-margin">GL</mat-checkbox>
                              <mat-checkbox formControlName="fire" class="example-margin">Fire</mat-checkbox>
                              <mat-checkbox formControlName="wind" class="example-margin">Wind</mat-checkbox>
                              <mat-checkbox formControlName="named_storm" class="example-margin">Named
                                  Storm</mat-checkbox>

                          </div>
                            <div class="col-md-7 my-1">
                                <app-documents-needs [documentsNeeds]="insuranceDocumentsNeeds"></app-documents-needs>
                            </div>

                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Continue or Skip</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="closingForm">
                    <form [formGroup]="closingForm">
                        <ng-template matStepLabel>Closing</ng-template>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Closing Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="closing_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="no-line">
                                  <span class="text-invisible">Did the property CLose? </span><mat-slide-toggle
                                      formControlName="is_cash_purchase"></mat-slide-toggle>
                                  <textarea matInput hidden></textarea>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7 my-1">
                                <app-documents-needs [documentsNeeds]="closingDocumentsNeeds"></app-documents-needs>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                            <button mat-button (click)="addToPortfolio()">Add to your Portfolio</button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>
